.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  gap: 20px;
}

/* Left Side */
.menu-left {
  width: 65%;
  padding-bottom: 100px;
}

.pizza-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pizza-card {
  flex: 0 0 48%;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  background-color: #1a1a1a;
  color: white;
}

.pizza-card:hover {
  transform: scale(1.03);
}

.pizza-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.pizza-card.selected {
  border: 3px solid #00ff66;
  background-color: #111;
}

.tick {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #00ff66;
  background: #000;
  border-radius: 50%;
  padding: 4px;
}

/* ===================== */
/* RIGHT SIDE FIXED BOX  */
/* ===================== */
.menu-right {
  width: 30%;
  position: sticky;
  top: 20px;
  height: 170vh;
  border: 2px solid #00ff66;
  border-radius: 10px;
  padding: 15px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 55px;
}

/* Scrollable list */
.items-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.items-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.items-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 8px 0;
  font-size: 15px;
  color: #eee;
}

/* Total always visible */
.total {
  position: sticky;
  bottom: 0;
  background-color: #000;
  padding: 10px;
  border-top: 2px solid #00ff66;
  font-size: 18px;
  font-weight: bold;
  color: #00ff66;
  z-index: 10;
}

/* ===================== */
/* Tablet Responsive */
/* ===================== */
@media (max-width: 1024px) {
  .menu-container {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  .menu-left {
    width: 100%;
    /* height: 2vh; */
  }

  .menu-right {
    width: 100%;
    height: 170vh;         /* FIXED HEIGHT for scroll */
    position: sticky;
    top: 10px;            /* Total ALWAYS visible */
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 70px;
  }

  .pizza-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pizza-card {
    flex: 0 0 48%;
  }
}

/* ===================== */
/* Mobile Responsive */
/* ===================== */
@media (max-width: 480px) {

  .menu-left {
    width: 100%;
  }

  .pizza-grid {
    flex-direction: column;
  }

  .pizza-card {
    flex: 0 0 100%;
  }

  .menu-right {
    width: 100%;
    height: 165vh;       
    position: sticky;
    top: 10px; 
    padding: 10px;
    margin-bottom: 40px;
  }

  .items-list li {
    font-size: 14px;
    padding: 6px 0;
  }

  .total {
    font-size: 16px;
  }
} 
